<%- include('partials/header') %>
  
    <!-- <div class="container-fluid">
      <div class="row">
        <div class="col-2 col-lg-1 col-xl-2 border-end">
          <div class="left_nav_section  d-flex flex-column border-end position-sticky">
            <div class="my-3">
              <i class="fa-brands fa-x-twitter fs-3 mt-3 text-primary"></i>
            </div>
            <div class="my-3">
              <i class="fa-regular fa-house fs-3"></i>
            </div>
            <div class="my-3">
              <i class="fa-solid fa-search fs-3"></i>
            </div>
            <div class="my-3">
              <i class="fa-solid fa-user fs-3"></i>
            </div>
            <div class="profile_icon position-absolute">
              <img src="https://placekitten.com/40/40" class="img-fluid" />
            </div>
          </div>
        </div>

        <div class="col-10 col-lg-7 col-xl-6">
          <div class="row mt-4">
            <div class="col-2">
              <img src="https://placekitten.com/40/40" class="img-fluid" />
            </div>
            <div class="col-10">
              <textarea class="form-control"></textarea>
            </div>

          </div>

          <div class="row">
            <div class="col-12">
              <div class="tweet mt-5">
                <div class="row">
                  <div class="col-2">
                    <img src="https://placekitten.com/40/40" class="img-fluid" />
                  </div>
                  <div class="col-10">
                    <div>
                      <strong>Shiva...</strong>
                      <span>Shiva@gmail.com..</span>
                      <p>Lorem ipsum dolor sit, quo inventore odio quis aspernatur fugiat ipsa error ea.</p>
                      <div> <img src="https://placekitten.com/600/300" class="img-fluid" /></div>
                    </div>
                  </div>

                  <div class="tweet mt-5">
                    <div class="row">
                      <div class="col-2">
                        <img src="https://placekitten.com/40/40" class="img-fluid" />
                      </div>
                      <div class="col-10">
                        <div>
                          <strong>Shiva...</strong>
                          <span>Shiva@gmail.com..</span>
                          <p>Lorem ipsum dolor sit, quo inventore odio quis aspernatur fugiat ipsa error ea.</p>
                          <div> <img src="https://placekitten.com/600/300" class="img-fluid" /></div>
                        </div>
                      </div>
                      <div class="tweet mt-5">
                        <div class="row">
                          <div class="col-2">
                            <img src="https://placekitten.com/40/40" class="img-fluid" />
                          </div>
                          <div class="col-10">
                            <div>
                              <strong>Shiva...</strong>
                              <span>Shiva@gmail.com..</span>
                              <p>Lorem ipsum dolor sit, quo inventore odio quis aspernatur fugiat ipsa error ea.</p>
                              <div> <img src="https://placekitten.com/600/300" class="img-fluid" /></div>
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-4 mt-4">
                    <div>
                      <input type="text" class="form-control" placeholder="Search twitter">
                    </div>
                    <div class="happening-box mt-5 p-3">
                      <div>
                        <h3>Whats happening</h3>
                      </div>
                      <div class="row align-items-center my-2">
                        <div class="col-9">
                          <div class="text">
                            <div><small>Bussiness & Finance. LIVE</small></div>
                            <div><strong>Ukrarine prosecuters are requestiing a life sentence for first Russian soldier
                                to face </strong></div>
                            <div class="fs-6">Promoted by disney + Hotstar</div>
                          </div>
                        </div>
                        <div class="col-3">
                          <img src="https://placekitten.com/600/300" class="img-fluid" />
                        </div>
                      </div>
                      <div class="row align-items-center my-2">
                        <div class="col-9">
                          <div class="text">
                            <div><small>Bussiness & Finance. LIVE</small></div>
                            <div><strong>Ukrarine prosecuters are requestiing a life sentence for first Russian soldier
                                to face </strong></div>
                            <div class="fs-6">Promoted by disney + Hotstar</div>
                          </div>
                        </div>
                        <div class="col-3">
                          <img src="https://placekitten.com/600/300" class="img-fluid" />
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div> -->
<section class="background">
            <div class="container-xxl">
              <div class="row">
                <div class="col-2 col-lg-1 col-xl-2 border-end  ">
                  <div
                    class="left_nav_section d-flex flex-column position-sticky align-items-end align-items-xl-start"
                  >
                    <div>
                      <i class="fa-brands fa-x-twitter fs-3 mt-3 text-primary"></i>
                    </div>
                    <div class="my-3">
                      <i class="fa-solid fa-house fs-4"></i>
                    
                    </div>
                    <div class="my-3">
                      <i class="fa-solid fa-search fs-4"></i>
              
                    </div>
                  
                    <div class="my-3">
                      <i class="fa-solid fa-user fs-4"></i>
             
                    </div>
        
                    <div class="profile_icon position-absolute">
                      <img src="https://placekitten.com/50/50" class="img-fluid" />
                    </div>
                  </div>
                </div>
        
                <div class="col-10 col-lg-7 col-xl-6">
                 
        
                  <div class="row mt-4">
                    <div class="col-2 col-lg-1">
                      <img src="https://placekitten.com/50/50" class="img-fluid" />
                    </div>
                    <div class="col-10 col-lg-11">
                      <textarea class="form-control"></textarea>
                    </div>
                  </div>
        
                  <div class="row">
                    <div class="col-12">
                      <div class="tweet mt-5">
                        <div class="row">
                          <div class="col-2 col-sm-1">
                            <img src="https://placekitten.com/50/50" class="img-fluid" />
                          </div>
                          <div class="col-10 col-sm-11">
                            <div>
                              <strong>Leela ...</strong>
                              <span>@leelan...</span>
                            </div>
                            <div class="col-8">
                
                              <form action="tweets" method="post" class="row g-3 justify-content-center">
                                <div class="col-md-12">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" name="tweets" rows="3" placeholder="What would you like to share today?"></textarea>
                                  </div>
                                
                                <div class="col-12 d-flex  justify-content-end">
                                  <button type="submit" class="btn btn-primary">Share</button>
                                </div>
                              </form>
                              <% for(let item of tweets) { %>
                              <div class="mt-5"></div>
                              <div class="card mb-4" >
                                <div class="card-body">
                                  <h5 class="card-title"><%=user.name%></h5>
                                  <p class="card-text"><%=item.tweet%></p>
                                </div>
                              </div>
                              <% } %>
                        </div>
                            
                          </div>
                        </div>
                      </div>
                      <div class="tweet mt-5">
                        <div class="row">
                          <div class="col-2 col-lg-1">
                            <img src="https://placekitten.com/50/50" class="img-fluid" />
                          </div>
                          <div class="col-10 col-lg-11">
                            <div>
                              <strong>Leela ...</strong>
                              <span>@leelan...</span>
                            </div>
                            <p>
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus totam iusto
                              laboriosam accusantium sunt dolore,
                            </p>
                            <div><img src="https://placekitten.com/200/200" class="img-fluid" /></div>
                          </div>
                        </div>
                      </div>
                      <div class="tweet mt-5">
                        <div class="row">
                          <div class="col-2">
                            <img src="https://placekitten.com/50/50" class="img-fluid" />
                          </div>
                          <div class="col-10">
                            <div>
                              <strong>Leela ...</strong>
                              <span>@leelan...</span>
                            </div>
                            <p>
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus totam iusto
                              laboriosam accusantium sunt dolore,
                            </p>
                            <div><img src="https://placekitten.com/200/200" class="img-fluid" /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="col-lg-4 mt-4 d-none d-lg-block">
                  <div class="position-sticky" style="top: 0px">
                    <div>
                      <input type="text" class="form-control" placeholder="Search Twitter" />
                    </div>
        
                    <div class="happening_box mt-5 p-3">
                      <div>
                        <h3 class="fs-3">Whats Happening?</h3>
                      </div>
                      <div class="row align-items-center my-4">
                        <div class="col-9">
                          <div class="text">
                            <div><small>Business & finance · LIVE</small></div>
                            <div>
                              <strong
                                >Ukrainian prosecutors are requesting a life sentence for first Russian soldier to
                                face war crimes trial since invasion</strong
                              >
                            </div>
                            <div class="fs-6">Promoted by Disney+ Hotstar</div>
                          </div>
                        </div>
                        <div class="col-3">
                          <img src="https://placekitten.com/50/50" class="img-fluid" />
                        </div>
                      </div>
                      <div class="row align-items-center my-4">
                        <div class="col-9">
                          <div class="text">
                            <div><small>Business & finance · LIVE</small></div>
                            <div>
                              <strong
                                >Ukrainian prosecutors are requesting a life sentence for first Russian soldier to
                                face war crimes trial since invasion</strong
                              >
                            </div>
                            <div class="fs-6">Promoted by Disney+ Hotstar</div>
                          </div>
                        </div>
                        <div class="col-3">
                          <img src="https://placekitten.com/50/50" class="img-fluid" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
 
  <%- include('partials/footer') %>